<div class="landing-container">
    <div class="left-content">
      <div class="logo">
        <img src="https://tse3.mm.bing.net/th?id=OIP.dLKuXy7237j0ZMI20mn89wHaHX&pid=Api&P=0&h=180" alt="DayTask Logo" />
        <span class="brand-name">Task <span class="highlight">Manager</span></span>
      </div>
      <h1>Manage your <br />Task with <span class="highlight">TaskManager</span></h1>
      <button class="start-btn" routerLink="/login">Start</button>
    </div>
  
    <div class="right-image">
      <img src="https://tse4.mm.bing.net/th?id=OIP.IgO04rKWfhYzYz6R026VZwHaFj&pid=Api&P=0&h=180" alt="Man working on laptop" />
    </div>
</div>
