.landing-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 97vh;
    background-color: #093060;
    padding: 0 5%;
    color: white;
  }
  
  .left-content {
    flex: 1;
  }
  
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
  }
  
  .brand-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .highlight {
    color: #FFA500;
  }
  
  h1 {
    font-size: 3.2rem;
    line-height: 1.3;
    margin-bottom: 2rem;
  }
  
  .start-btn {
    padding: 15px 30px;
    font-size: 1.2rem;
    background-color: #FFA500;
    color: #000;
    border: none;
    cursor: pointer;
    font-weight: bold;
    border-radius: 5px;
  }
  
  .right-image {
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .right-image img {
    max-width: 400px;
    height: auto;
    border-radius: 10px;
  }
  